@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Dongle', 'Segoe UI', 'Roboto', sans-serif;
  font-size: 1.6em;
  background-color: #f6f6f6;
  margin: 0;
}

@@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: #fffff;
}

.App {

}
